
.text_design_feild{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	/* padding:15px 0px; */
	color: #3C3C3C;
	width:90px;
}
.text_design_value{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	/* padding:15px 0px; */
	color: #3C3C3C;
	width:210px;
}
.text_header{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #2663D8;
}
.popUpBox{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	/* margin-left: 6px; */
}
.image_container{
	cursor: pointer;
	margin-right: 20px;
	margin-top: 1px;
}
.box_padd{
	margin-left: -24px;
	margin-bottom: 15px;
}
.box_top{
	margin-top: 15px;
}
.line{
	width: 100%;
}
.container_text{
	display: flex;
	column-gap: 61px; 
	justify-content: flex-start;
	margin-bottom: 15px;
}
.button_container{
	padding-top: 15px; 
	margin-right: -20px;
}
.box_details{
    padding: 15px;
    padding-bottom: 35px;
}
.custom_feild{
	padding:0px 6px;
	margin-bottom: 14px;
}
.custom_feild_info{
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	padding:0px 6px;
	margin-bottom: 20px;
	margin-top: 25px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	color: #6B6B6B;
}
.dotted{
    position: absolute;
    top: 0;
    left: 0;
}
.heighttext{
	height:90px
}
.image_container_cross{
	width: 16px;
	margin-right: 6px;
	height: 16px;
	cursor: pointer;
}
.infoicon_size{
	width:20px;
}
.folder_icon{
	position: absolute;
    right: 50px;
    top: 332px;
}