.container{
    background-color: rgb(41, 100, 220);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    /* padding: 0px 20px 0px 20px; */
}
.image_box{
    width:  340px;
}